{extend name="public/Base" /}

{block name="seo"}
<title>{$title|default="页面标题"}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$desc|default='页面描述'}">
</head>

<body>
{/block}
{block name="header"} {/block}  //关掉 header部分
{block name="menu"} {/block}	//关掉 menu部分

{block name="content"}
<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-admin-add">
        {if condition = "$Think.session.user_info.role eq 1"}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$list.name}" placeholder="" id="name" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>启用状态</label>
            <div class="formControls col-xs-8 col-sm-9 skin-minimal">
                {if condition = "$list.status eq 1"}
                <div class="radio-box">
                    <input name="status" type="radio" id="sta-1" value="1" checked>
                    <label for="sta-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sta-2" name="status" value="0">
                    <label for="sta-2">禁用</label>
                </div>
                {else /}
                <div class="radio-box">
                    <input name="status" type="radio" id="sta-1" value="1">
                    <label for="sta-1">启用</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="sta-2" name="status" value="0" checked>
                    <label for="sta-2">禁用</label>
                </div>
                {/if}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$list.email}">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">角色：</label>
            <div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
                {if condition = "$list.role eq 1"}
                <select class="select" name="role" size="1">
                    <option value="1">超级管理员</option>
					<option value="0">管理员</option>
				</select>
                {else /}
                <select class="select" name="role" size="1">
					<option value="0">管理员</option>
					<option value="1">超级管理员</option>
				</select>
                {/if}
				</span> </div>
        </div>
        {else /}
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>管理员名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                {$Think.session.user_info.name}
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>邮箱：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" placeholder="@" name="email" id="email" value="{$list.email}">
            </div>
        </div>
        {/if}
        <!--将当前记录的id做为隐藏域发送到服务器-->
        <input type="hidden" value="{$list.id}" name="id">
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;" id="submit">
            </div>
        </div>
    </form>
</article>
{/block}

{block name="js"}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function(){

        $("form").children().change(function(){
            $("#submit").removeClass('disabled');
        });

        $("#submit").on('click', function (event) {
            $.ajax({
                type: 'POST',
                url: "{:url('user/editGrade')}",
                data: $("#form-admin-add").serialize(),
                dataType: 'json',
                success: function (data) {
                    if(data.status == 1){
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                        // 要做adminlist页面的刷新功能
                    }
                }
            });
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}
</body>
</html>